/*                                                                          ,,                    
  .g8"""bgd                           .g8""8q.                            `7MM                    
.dP'     `M                         .dP'    `YM.                            MM                    
dM'       ` ,pW"Wq.`7Mb,od8 .gP"Ya  dM'      `MM `7M'   `MF'.gP"Ya `7Mb,od8 MM   ,6"Yb.`7M'   `MF'
MM         6W'   `Wb MM' "',M'   Yb MM        MM   VA   ,V ,M'   Yb  MM' "' MM  8)   MM  VA   ,V  
MM.        8M     M8 MM    8M"""""" MM.      ,MP    VA ,V  8M""""""  MM     MM   ,pm9MM   VA ,V   
`Mb.     ,'YA.   ,A9 MM    YM.    , `Mb.    ,dP'     VVV   YM.    ,  MM     MM  8M   MM    VVV    
  `"bmmmd'  `Ybmd9'.JMML.   `Mbmmd'   `"bmmd"'        W     `Mbmmd'.JMML. .JMML.`Moo9^Yo.  ,V     
                                                                                          ,V      
                                                                                       OOb"         
	CoreOverlay ver.1.1.0
	made without blood or sweat, but a lot of tears by doc norberg

	main-display.css - css code that handles the displayed overlay (what the stream sees)

	CoreOverlay is licensed under the terms of the MIT License; see the COPYING file for license details.
*/

body {
	position: relative; width: 1920px; margin: 0 auto; overflow: hidden; white-space: nowrap; color: #FFF;
	font-family: "Verdana", "Noto Sans", "Arial"; font-style: italic; font-weight: 900;
	font-size: 48px; line-height: 42px; text-align: left;
	text-transform: uppercase;
}

.overflow { overflow: hidden; text-overflow: ellipsis; }

.full { position: absolute; width: 1920px; height: 175px;
     background-color: magenta; /* enable this for a debug background */
}
.btm { bottom: 0px; opacity: 0; }
.top { top: 0px; opacity: 1; left: 0px; }

.overlay {
    position: absolute;
    width: 1920px;
    height: 200px;
    right: 0px;
    opacity: 1;
}

.nrpa { background-repeat: no-repeat; position: absolute; opacity: 1; }
.scorenum { position: absolute; }
.bigbar {
    position: absolute;
    left: 0;
    top: 20px;
    width: 1645px;
    height: 50px;
    background: #000;
    opacity: 0;
    transition: opacity 1000ms, top 1000ms;
}
.littlebar {
    position: absolute;
    left: 0;
    top: 20px;
    width: 145px;
    height: 50px;
    background: #000;
    opacity: 0;
    transition: opacity 1000ms, top 1000ms;
}
.p1c { position: absolute; width: 590px; left: 275px; opacity: 0; transition: opacity 1000ms; }
.p2c { position: absolute; width: 590px; right: 275px; opacity: 0; transition: opacity 1000ms; }
    .pname { margin: 7px; }
    .pname small {
        font-size: 28px;
    }
    .gtext { margin: -3px 3px 0 3px; }
    .recnum { text-align: center; }
    .namebox, .pbg { 
        transition: width 700ms, left 1000ms, right 1000ms, top 1000ms, filter 500ms;
        height: 55px; font-size: 42px; overflow: hidden;
    }
    .recbox, .rbg { 
        transition: width 700ms, left 1000ms, right 1000ms, top 1000ms, filter 500ms, opacity 500ms;
        height: 40px; font-size: 24px; overflow: hidden; opacity: 0;
    }
    .gamebox, .gbg { 
        transition: width 700ms, left 1000ms, right 1000ms, top 1000ms, filter 500ms;
        height: 35px; font-size: 16px; overflow: hidden; 
    }
    .p1nc, .p2nc { left: 5px; top: 30px; width: 575px; }
    .p1nb, .p2nb {
        position: absolute; top: 35px; width: 540px; height: 50px; opacity: 0;
        transition: opacity 1000ms, top 1000ms, width 1000ms;
    }
    .p1nb { 
        background: #a73038; right: 0; }
    .p2nb { 
        background: #169bc4; left: 0; }
    .p1rc, .p2rc { right: 100px; top: 40px; width: 70px; visibility: hidden; }
    .f-p1n { color: #b04; opacity: 0.90; }
    .f-p2n { color: #07b; opacity: 0.90; }
    .fl-p1n { color: #d05; opacity: 0.90; }
    .fl-p2n { color: #08d; opacity: 0.90; }

    .mc { position: absolute; left: 50%; transform: translateX(-50%); 
          width: 215px; }
    .bc { position:absolute; right: 50%; top: 90px; transform: translateX(50%);
        background-color: #000; width: 700px; height: 16px; opacity: 0;
        transition: width 1000ms, top 1000ms, opacity 1000ms; }
    .mmc { right: 5px; bottom: -8px; }
    .ggc { left: 5px; bottom: -8px; }

.scorenum {
    width: 120px;
    font-size: 96px;
    text-align: center;
    opacity: 0;
}
.p1s { top: 32px; left: 0px; }
.p2s { top: 32px; right: 0px; }
#p1n, #p2n, #tt, #gg {
    position: relative;
}
#gg, #tt { text-align: right; }
#gg, #tt {
    transition: opacity 500ms, right 500ms, color 500ms; 
}
#p2n, #p1n {
    transition: opacity 500ms, left 500ms, color 500ms; 
}
#p1n {
    text-align: right;
}
#s1, #s2 {
    transition: color 500ms, opacity 1000ms; 
}